@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900;950;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@100;200;300;400;500;600;700;800;900;950;1000&display=swap");

@theme {
    --font-sans: "DM Sans", sans-serif;
    --font-mono: "DM Mono", sans-serif;
}

body {
    @apply font-sans text-base;
}
